.blog-page {
  text-align: left;
  padding: 30px;
}

.top-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.posts-container {
  margin-top: 20px;
}
