.top-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.admin-page {
  margin-top: 20px;
  text-align: left;
  width: 80%;
}

.section-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
}
